<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Juego - Figures That Teach</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
  </head>

  <body class="game-body" >
    <video autoplay muted loop id="bg-video">
      <source src="{% static 'resources/background.mp4' %}" type="video/mp4">
    </video>

    <div id="startModal" class="modal">
      <div class="modal-content">
        <h2>Iniciando sistema</h2>
        <p class="modal-p">Recuerda habilitar el permiso a acceder a la cámara en el navegador</p>
        <button id="closeBtn" class="modal-button" onclick="closeModal()">Aceptar</button>
      </div>
    </div>

    <div class="page">
      <main class="main main-game">
        <section class="game-layout">
          <div class="camera-section">
            <div class="camera-box">
              <video id="camera" autoplay></video>
            </div>
            <p class="camera-instructions">
              Levanta tus dedos frente a la cámara y mira cómo se encienden las
              figuras.
            </p>
          </div>
          
          <!-- Columna 2, Fila 1: Sol -->
          <div class="sun-section">
            <img src="{% static 'resources/sol.png' %}" id="sun-img" >
          </div>
          
          <!-- Columna 1, Fila 2: Contenedor con 4 círculos -->
          <div class="circles-container-left">
            <div id="left-container" class="left-figures-container game-figures">
              <div class="left-figure-circle figure-circle pos-1" data-index="1"></div>
              <div class="left-figure-circle figure-circle pos-2" data-index="2"></div>
              <div class="left-figure-circle figure-circle pos-3" data-index="3"></div>
              <div class="left-figure-circle figure-circle pos-4" data-index="4"></div>
            </div>
          </div>
          
          <!-- Columna 2, Fila 2: Contenedor con 2 círculos -->
          <div class="circles-container-right">
            <div id="right-container" class="right-figures-container game-figures">
              <div class="right-figure-circle figure-circle pos-5" data-index="5"></div>
              <div class="right-figure-circle figure-circle pos-6" data-index="6"></div>
            </div>
          </div>
          
          <!-- Columna 2, Fila 3: Botón siguiente -->
          <div class="button-section">
            <a href="{% url 'game:end' %}" class="next-button">Siguiente</a>
          </div>
        </section>
      </main>
    </div>
    <script src="{% static 'js/game.js' %}"></script>
  </body>
</html>


